<!DOCTYPE html>
<html>
<head>
	<title>CONTACT</title>
	<link rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/kozhikode.css' %}">
</head>
<body>
<div class="container" style="margin-top: 50%;"><h1 style="color: black;">contact</h1></div>


<footer>
   <div class="container tex-center ">
      <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-12 tex-center">
            <h5>Explore</h5>
            <p><a href="#">Classification Scheme</a></p>
            <p><a href="#">Governmental Affairs</a></p>
            <p><a href="#">Media Room</a></p>
            <p><a href="#">Tourism Events</a></p>
            <p><a href="#">Maps</a></p>
            <p><a href="#">Site Map</a></p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-12 tex-center">
            <h5>Travel Hub</h5>
            <p><a href="#">Kerala at a Glance</a></p>
            <p><a href="#">Travel Care</a></p>
            <p><a href="#">Where to Stay</a></p>
            <p><a href="#">How to?</a></p>
            <p><a href="#">Travel Tips</a></p>
         </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-12 tex-center">
            <h5>Nature</h5>
            <p><a href="#">Hills</a></p>
            <p><a href="#">Backwater</a></p>
            <p><a href="#">Beaches</a></p>
            <p><a href="#">Wildlife</a></p>
            <p><a href="#">Waterfalls</a></p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-12 tex-center">
             <h5>Places</h5>
            <p><a href="#">Munnar</a></p>
            <p><a href="#">Wayanad</a></p>
            <p><a href="#">Kovalam</a></p>
            <p><a href="#">Periyar</a></p>
            <p><a href="#">Varkala</a></p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-12 tex-center">
             <h5>Specialities</h5>
            <p><a href="#">Ayurveda</a></p>
            <p><a href="#">Monsoon</a></p>
            <p><a href="#">Houseboat</a></p>
            <p><a href="#">Kerala Food</a></p>
            <p><a href="#">Festivals</a></p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-12 tex-center">
             <h5>Videos/Photos</h5>
            <p><a href="#">Videos</a></p>
            <p><a href="#">Photos</a></p>
            <p><a href="#">360&deg; Videos</a></p>
            <p><a href="#">Royalty Free Photos</a></p>
            <p><a href="#">Wallpapers</a></p>
          </div>
      </div>
   </div>
   <section class="newsletter">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="content">
                  <h2>Subscribe Our Newsletter</h2>                  <div class="input-group">
                     <input type="email" class="form-control" placeholder="Enter your email">
                     <span class="input-group-btn">
                        <button class="btn" type="submit">SUBSCRIBE</button>
                     </span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <span style="font-size: 24px;"><a href="#">www.keralatourism.gov.in</a></span>
   <div class="col-md-12 pt-4 pb-4 text-center">
      <a href="#" class="btn btn-primary">RECRUITMENTS</a>
   </div>
   </section>
  <!-- <div class="container">
      <div class="row">
         <div class="col-md-1">
            <img src="11.png" class="img-fluid">
         </div>
         <div class="col-md-1">
            <img src="12.jpg" class="img-fluid">
         </div>
         <div class="col-md-1">
            <img src="13.jpg" class="img-fluid">
         </div>
         <div class="col-md-1">
            <img src="14.png" class="img-fluid">
         </div>
         <div class="col-md-1">
            <img src="15.png" class="img-fluid">
         </div>
         <div class="col-md-1">
            <img src="16.jpg" class="img-fluid">
         </div>
         <div class="col-md-1">
            <img src="17.jpg" class="img-fluid">
         </div>
         <div class="col-md-1">
            <img src="19.jpg" class="img-fluid">
         </div>
         <div class="col-md-1">
            <img src="22.jpg" class="img-fluid">
         </div>
      </div>
   </div>-->
   <div class="container-fluid">
      <h6>Toll free No: 1-800-425-4747(Within India only)</h2>
            <p>
               Department of Tourism, Government of Kerala, Park View, Thiruvananthapuram, Keral, India - 695 033<br>
                 Phone: +91 471 2321132, Fax: +91 471 2322279, E-mail: info@keralatourism.org.<br>
                 All rights reserved &#169; Kerala Tourism 2022. Copyright | Terms of Use | Cookie Policy | Contact Us.<br>
                 Developed & Maintained by Invis multimedia.<br>
             </p>
   </div>

</footer>   
</body>
</html>	