<!DOCTYPE html>
<html>
<head>
	<title>KANNUR</title>
	<link rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/kannur.css' %}">
</head>
<body>
	<header>
      
		<!--<div class="logo">
			<a href="#"><img src="logo.png"></a>
		</div>-->
			<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			<!--	<a href="#"><span style="font-size:25px; color: white;">Keralatourism.<span style="color:yellow;">org</span></span><br><span style="font-size:15px; color: white;">WelcometoGod'sOwnCountry</span></a>
				<div class="d-flex flex-row">
					<ul class="navbar-nav flex-row">
						<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-youtube"></i></a></li>
						<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-facebook"></i></a></li>
						<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-twitter"></i></a></li>
						<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-instagram"></i></a></li>
						<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-whatsapp"></i></a></li>
						<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-pinterest"></i></a></li>
						<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>-->
			<!-- Brand -->
			<!--<a class="navbar-brand" href="#">Navbar</a>-->

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'HOME' %}">HOME</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'SIGNIN' %}">SIGN IN</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'SIGNUP' %}">SIGN UP</a>
                     </li>
                </ul>
            </div>
        </nav>
   <section>
      <div class="row">
         <div class="col">
            <a href="https://www.keralatourism.org/kerala-travel-mart/page/46">
                <img src="{% static 'image/4.jpg' %}" class="img-fluid">
            </a>
         </div>
      </div>
   </section>
   <div class="container">
             <span style="text-align: center;"><h1>KANNUR</h1></span>
   </div>
    <section>
       <div class="container">
          <p>Nuzzled in the folds of the majestic Western Ghats in the Kannur district of Kerala lies a stretch of greenery that bursts with myriad forms of wildlife. With its varieties of bird species, unique types of trees, rare medicinal plants and animals, Aralam Wildlife Sanctuary is indeed a biodiversity haven.</p> 

          <p>One reaches the sanctuary through the lush green Aralam Farm that is abundant with swaying coconut palms, cashew nut groves and many more plantations. It is one of the main production centres of hybrid coconut seeds in the country.</p>

          <p>Go for a trek deep into the woods of Aralam and come back with sagas and snaps of vibrant flora and fauna. Patient observation fetches you some surprising sights that range from that of the rare Malabar Pied Hornbill to the tiny beauty, Scarlet Minivet.  This bird watcher’s paradise will help you spot an array of beautiful birds including Mountain Pigeons, the Flame Throated Bulbul, Imperial Pigeons, Asian – Fairy Bluebirds, White-bellied Treepie, Indian Black-lored Tit, Heart-spotted Woodpecker, Barbets, Southern Hill Myna, Orioles and so forth. </p>

          <p>This incredible landscape spanning over 55 sq. km is under the care and protection of the Department of Forest. The department offers a bevvy of trekking and Jeep ride facilities till the Meenmutty Waterfalls. The luxuriant waterfall amidst the lush greenery completes your journey. On your way to the falls you will be dropped off at the Pothenplavu watchtower to behold a breathtaking aerial panoramic view of the reserved forests and the Western Ghats. </p>

          <p>Aralam is a haven for butterflies as well and is home to around 250 varieties. Come to this place during late December- early February to watch the migration of these tiny little creatures of beauty – a sight to behold.  Your journey through the woods will be punctuated by sudden fluttering of wings of the Giant Orange Dip, Common Albatross, Buddha Peacock Butterfly, Papilio Paris Butterfly or even the largest butterfly in South India, the Southern Birdwing. </p>

          <p>The animal species of Aralam includes Elephants, Tiger, Gaur, Malabar Giant Squirrel, Sambar, Barking deer, Nilgiri Langur, and the Hanuman Langur. Besides these, Aralam is the best place in which to study about the different kinds of frogs and the reptile family.</p>
       </div>
     </section> 
</header> 
<footer>
   <div class="container tex-center ">
      <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-12 tex-center">
            <h5>Explore</h5>
            <p><a href="#">Classification Scheme</a></p>
            <p><a href="#">Governmental Affairs</a></p>
            <p><a href="#">Media Room</a></p>
            <p><a href="#">Tourism Events</a></p>
            <p><a href="#">Maps</a></p>
            <p><a href="#">Site Map</a></p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-12 tex-center">
            <h5>Travel Hub</h5>
            <p><a href="#">Kerala at a Glance</a></p>
            <p><a href="#">Travel Care</a></p>
            <p><a href="#">Where to Stay</a></p>
            <p><a href="#">How to?</a></p>
            <p><a href="#">Travel Tips</a></p>
         </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-12 tex-center">
            <h5>Nature</h5>
            <p><a href="#">Hills</a></p>
            <p><a href="#">Backwater</a></p>
            <p><a href="#">Beaches</a></p>
            <p><a href="#">Wildlife</a></p>
            <p><a href="#">Waterfalls</a></p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-12 tex-center">
             <h5>Places</h5>
            <p><a href="#">Munnar</a></p>
            <p><a href="#">Wayanad</a></p>
            <p><a href="#">Kovalam</a></p>
            <p><a href="#">Periyar</a></p>
            <p><a href="#">Varkala</a></p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-12 tex-center">
             <h5>Specialities</h5>
            <p><a href="#">Ayurveda</a></p>
            <p><a href="#">Monsoon</a></p>
            <p><a href="#">Houseboat</a></p>
            <p><a href="#">Kerala Food</a></p>
            <p><a href="#">Festivals</a></p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-12 tex-center">
             <h5>Videos/Photos</h5>
            <p><a href="#">Videos</a></p>
            <p><a href="#">Photos</a></p>
            <p><a href="#">360&deg; Videos</a></p>
            <p><a href="#">Royalty Free Photos</a></p>
            <p><a href="#">Wallpapers</a></p>
          </div>
      </div>
   </div>
   <section class="newsletter">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="content">
                  <h2>Subscribe Our Newsletter</h2>                  <div class="input-group">
                     <input type="email" class="form-control" placeholder="Enter your email">
                     <span class="input-group-btn">
                        <button class="btn" type="submit">SUBSCRIBE</button>
                     </span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <span style="font-size: 24px;"><a href="#">www.keralatourism.gov.in</a></span>
   <div class="col-md-12 pt-4 pb-4 text-center">
      <a href="#" class="btn btn-primary">RECRUITMENTS</a>
   </div>
   </section>
  <!-- <div class="container">
      <div class="row">
         <div class="col-md-1">
            <img src="11.png" class="img-fluid">
         </div>
         <div class="col-md-1">
            <img src="12.jpg" class="img-fluid">
         </div>
         <div class="col-md-1">
            <img src="13.jpg" class="img-fluid">
         </div>
         <div class="col-md-1">
            <img src="14.png" class="img-fluid">
         </div>
         <div class="col-md-1">
            <img src="15.png" class="img-fluid">
         </div>
         <div class="col-md-1">
            <img src="16.jpg" class="img-fluid">
         </div>
         <div class="col-md-1">
            <img src="17.jpg" class="img-fluid">
         </div>
         <div class="col-md-1">
            <img src="19.jpg" class="img-fluid">
         </div>
         <div class="col-md-1">
            <img src="22.jpg" class="img-fluid">
         </div>
      </div>
   </div>-->
   <div class="container-fluid">
      <h6>Toll free No: 1-800-425-4747(Within India only)</h2>
            <p>
               Department of Tourism, Government of Kerala, Park View, Thiruvananthapuram, Keral, India - 695 033<br>
                 Phone: +91 471 2321132, Fax: +91 471 2322279, E-mail: info@keralatourism.org.<br>
                 All rights reserved &#169; Kerala Tourism 2022. Copyright | Terms of Use | Cookie Policy | Contact Us.<br>
                 Developed & Maintained by Invis multimedia.<br>
             </p>
   </div>

</footer>   
</body>
</html>	